<div>
    <form [formGroup]="postForm" (change)="onSubmit($event)" autocomplete="off">
        <div>
            <label for="price-of-property">PRICE OF PROPERTY</label>
            <br />
            <div class="flex">
                <input type="text" formControlName="propertyPrice" id="price-of-property"
                    (input)="setPriceOfProperty($event)" maxlength={{(maxPropertyPrice.toString()).length+1}} />
                <span class="currency">EUR</span>
                <ul *ngIf="propertyPrice.errors">
                    <li *ngIf="propertyPrice.errors['required']">Price of property is required</li>
                    <li *ngIf="propertyPrice.errors['min']">
                        Price of property must be at least {{minPropertyPrice}} EUR
                    </li>
                    <li *ngIf="propertyPrice.errors['max']">
                        Price of property must be less than {{maxPropertyPrice}} EUR
                    </li>
                </ul>
            </div>
            <datalist>
                <option label="{{minPropertyPrice}}"></option>
                <option label="{{maxPropertyPrice}}"></option>
            </datalist>
            <!--  -->
            <input type="range" id="price-of-property-slider" formControlName="propertyPrice"
                min="{{minPropertyPrice}}" max="{{maxPropertyPrice}}" (input)="setPriceOfProperty($event)" />
        </div>
        <div>
            <label for="deposit">INITIAL DEPOSIT</label>
            <br />
            <div class="flex">
                <input type="text" formControlName="initialDeposit" id="deposit" style="width: 120px;"
                    maxlength={{(maxPropertyPrice.toString()).length+1}} (input)="setDeposit($event)" />
                <span class="currency">EUR</span>
            </div>
            <div class="flex">
                <input type="text" formControlName="depositPercent" id="deposit-percent" style="width: 90px;"
                    [maxLength]="depositPercentMaxLength" (input)="setDepositPercent($event)" />
                <span class="currency">%</span>
                <button (mousedown)="depositPercentPlus()" (mouseup)="onSubmit()">UP</button>
                <button (mousedown)="depositPercentMinus()" (mouseup)="onSubmit()">DOWN</button>
            </div>
            <ul *ngIf="!propertyPrice.errors&&initialDeposit.errors">
                <li *ngIf="initialDeposit.errors['min']">
                    Deposit must be at least {{minDepositPercent}}% ({{initialDeposit.errors['min'].min}})
                </li>
                <li *ngIf="initialDeposit.errors['max']">
                    Deposit must be less than {{initialDeposit.errors['max'].max}}
                </li>
            </ul>
        </div>
        <div>
            <label for="mortgage-period">MORTGAGE PERIOD</label>
            <br />
            <div class="flex">
                <input type="text" formControlName="mortgagePeriod" id="mortgage-period"
                    (input)="checkIfNotNumber($event)" maxlength="3" />
                <span class="currency">YEARS</span>
                <ul *ngIf="mortgagePeriod.errors">
                    <li *ngIf="mortgagePeriod.errors['required']">
                        Mortgage period is required</li>
                    <li *ngIf="mortgagePeriod.errors['min']">
                        Mortgage period must be higher or equal to {{minMortgagePeriod}}
                    </li>
                    <li *ngIf="mortgagePeriod.errors['max']">
                        Mortgage period must be lower or equal to {{maxMortgagePeriod}}</li>
                </ul>
            </div>
            <datalist>
                <option label="{{minMortgagePeriod}}"></option>
                <option label="{{maxMortgagePeriod}}"></option>
            </datalist>
            <input type="range" id="mortgage-period-slider" formControlName="mortgagePeriod" min="{{minMortgagePeriod}}"
                max="{{maxMortgagePeriod}}" (input)="checkIfNotNumber($event)" maxlength="10" />
        </div>
        <div>
            <label for="annuity-linear">MORTGAGE TYPE</label>
            <br />
            <div class="flex">
                <span>Annuity</span>
                <input (click)="setAnnuityLinear($event)" type="checkbox" id="annuity-linear" />
                <span>Linear</span>
            </div>
        </div>
        <div>
            <label for="salary">SALARY</label>
            <br />
            <div class="flex">
                <input type="text" formControlName="salary" id="salary" maxlength="10"
                    (input)="checkIfNotNumber($event)" />
                <span class="currency">EUR</span>
                <ul *ngIf="salary.errors">
                    <li *ngIf="salary.errors['required']">
                        Salary is required</li>
                    <li *ngIf="salary.errors['min']">
                        Salary must be higher or equal to 0
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <label for="financial-obligation">FINANCIAL OBLIGATION</label>
            <br />
            <div class="flex">
                <input type="text" formControlName="financialObligation" id="financial-obligation"
                    (input)="checkIfNotNumber($event)" maxlength="10" />
                <span class="currency">EUR</span>
                <ul *ngIf="financialObligation.errors">
                    <li *ngIf="financialObligation.errors['required']">
                        Financial obligations is required</li>
                    <li *ngIf="financialObligation.errors['min']">
                        Financial obligations must be higher or equal to 0
                    </li>
                </ul>
            </div>
        </div>
    </form>
 </div>
 
 
 
 