.cardcontainer {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.mini-container {
  margin-bottom: 1rem;
  width: 100%;

}

label {
  font-size: 0.5rem;
}

#price-of-property,
.depositAndPercent,
#mortgage-period,
#salary,
#financial-obligation {
  margin-top: 0.3rem;
}

input {
  border: none;
  border-radius: 5px;
  background: #F5F5F5;
  color: black;
  resize: none;
  font-size: 1rem;
  font-weight: bold;
  padding-left: 0.4rem;
  height: 2rem;
}

input[type="range"] {
  height: 0.5rem;
}

#price-of-property,
/* .depositAndPercent, */
#mortgage-period

/* #salary, */
/* #financial-obligation  */
  {
  margin-bottom: 0.5rem;
}

.data-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.data-label>div {
  font-size: 0.5rem;
}

input[type="range"] {
  width: 98%;
  margin: 0;
  padding: 0;
}

input:focus {
  outline: 2px solid black;
}

.slider {
  display: flex;
  justify-content: center;
}

.flex {
  display: flex;
  width: 100%;
}

/* .flex input {
  flex: 1 1 100%;
} */

/* .linear-annuity input {
  width: 25px;
} */

/* .linear-annuity {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
} */

.updown {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #f5f5f5;
  border-radius: 5px 0px 0px 5px;
  width: 1.4rem;

}

.updownbutton {
  margin-left: 0.1rem;
  height: 1em;
  width: 1em;
  display: inline-flex;
  align-self: center;
}

.depositAndPercent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.initial-deposit {
  width: 60%;
}

.percent {
  border-radius: 0px 5px 5px 0px;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  width: 35%;
}

#deposit-percent {
  width: 100%;
  border-radius: 0px 5px 5px 0px;
}

ul {
  display: none;
}

li {
  font-size: 0.5rem;
  color: #e43a8f;
  list-style-type: none;
  position: absolute;
  font-weight: bolder;
}

.serverErrorMessage {
  text-align: left;
  top: 2.15rem;
  inline-size: 80vw;
}

input[type=text].ng-invalid {
  outline: 1px solid red;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin-top: 5px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  background: #054A91;
  border-radius: 5px;
  border: 2px solid #f5f5f5;
}

input[type=range]::-webkit-slider-thumb {
  border: 5px solid #f5f5f5;
  height: 20px;
  width: 20px;
  border-radius: 25px;
  background: #054A91;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}

input[type=range]::-moz-range-track {
  height: 10px;
  cursor: pointer;
  background-color: #054A91;
  border-radius: 5px;
  padding: 0px;
  margin: 0px;
  background: #F5F5F5;
}

input[type=range]::-moz-range-thumb {
  border: 3px solid #f5f5f5;
  height: 17px;
  width: 17px;
  border-radius: 25px;
  background: #054A91;
  cursor: pointer;
}

#price-of-property,
.depositAndPercent,
#mortgage-period,
#salary,
#financial-obligation {
  /* margin-top: 5px;
  margin-bottom: 5px;
  width:100%; */
}


@media screen and (min-width: 300px) {
  label {
    font-size: 0.9rem;
  }

  .data-label>div {
    font-size: 0.7rem;
  }

  input#deposit-percent {
    padding-left: 0.7rem;
  }

  input {
    padding-left: 0.7rem;
  }

  .percent {
    width: 25%;
  }

}


@media screen and (min-width: 1201px) {
  .mini-container {
    margin-bottom: 1.6rem;
  }

  ul {
    max-width: 20%;
    display: block;
    /* position: absolute; */
  }

  li {
    inline-size: 18vw;
    font-size: 0.7rem;
  }


  .data-label {
    margin-top: 1.5rem;
  }

  #price-of-property,
  /* .depositAndPercent, */
  #mortgage-period

  /* #salary, */
  /* #financial-obligation  */
    {
    margin-bottom: 0rem;
  }

  .serverErrorMessage {
    top: 7rem;
    inline-size: 20vw;
  }
}