.big-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

h2 {
    text-align: center;
    font-size: 0.5rem;
    /* according to the design no need to display */
    display: none;
}

.big-output-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    width: 95%;
    height: auto;
}

.output-container-two,
.output-container-one {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
}

.line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10%;
    width: 100%;
}

.left {
    display: flex;
    align-items: center;
    justify-content: stretch;
    width: 70%;
}

ul li {
    margin-left: 1.6em;
    width: 100%;
}

li span {
    display: block;
    margin-left: -0.9em;
}

.graph-legend {
    width: 5%;
    height: 0.5rem;
    border-radius: 1px;
}

.line .info-text {
    width: 100%;
    font-size: 0.5rem;
    padding-left: 1%;
}

.line .output {
    width: 30%;
    font-size: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center
}

#one {
    background-color: #DBE4EE;
}

#two {
    background-color: #81A4CD;
}

#three {
    background-color: #F17300;
}

#four {
    background-color: #3E7CB1;
}

#five {
    background-color: #1585E4;
}

.output {
    background-color: #FAFF1A;
    color: #000;
    display: flex;
    justify-content: center;
    /* display: table; */
    /* margin: 0 auto; */
    /* min-width: 120px; */
    font-weight: 900;
    width: 100%;
}

@media screen and (min-width: 300px) {
    h2 {
        /* this is still turned off */
    }

    .graph-legend {
        width: 1.5rem;
        height: 0.6rem;
        border-radius: 1px;
    }

    .line .info-text {
        width: 100%;
        font-size: 0.7rem;
        padding-left: 3%;
    }

    .line .output {
        font-size: 0.7rem;
    }

    .line {
        margin-bottom: 5%;

    }
}

@media screen and (min-width: 1201px) {
    h2 {
        font-size: 1.1rem;
        display: contents;
    }

    .big-output-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 95%;
    }

    .output-container-two,
    .output-container-one {
        width: 48%;
    }

    .line .info-text {
        font-size: 0.8rem;
    }

    .line .output {
        font-size: 0.8rem;
    }

    .output-container-one .line {
        align-items: flex-start;
        margin-bottom: 7%;
    }

    .graph-legend {
        margin-right: 2%;
    }

    ul div.line {
        display: flex;
        align-items: flex-start;
    }

    ul div.left {
        display: flex;
        align-items: flex-start;
    }

    span.output {
        margin-top: 2%;
    }

    div.info-text {
        margin-top: 3%;
    }
    li span{
        margin-top: 1%;
    }

    .graph-legend {
        margin-top: 3%;
    }
}