<!-- <app-graph-and-chart [chartData]="calculations"></app-graph-and-chart> -->
<div>
    <p>REQUESTED LOAN AMOUNT: {{requestedLoanAmount}} EUR</p>
    <p>MAX. LOAN AVAILABLE: {{maxLoanAvailable}} EUR</p>
    <p>MONTHLY PAYMENT*: {{monthlyPayment}} EUR</p>
     <!-- <span *ngIf="monthlyPaymentError" style="color:orange; margin-top: 0;">Monthly payment + financial obligations > 40%
        of salary</span>
    <br />
    <br />
    <p>RATE+EUROIBOR[{{euriborRate}} %] : {{euriborRate+bankInterestRate}} %</p>
    <p>ANNUAL INTEREST RATE TOTAL: {{annualInterestRate}} %</p>
    <p>CONTRACT FEE: {{contractFee}} EUR</p>
    <p>BANK FEE: {{monthlyBankFee}} EUR</p>
    <p>MORTGAGE REGISTRATION FEE: {{registrationFee}} EUR</p>  -->
   
 </div>
 
 
 
 