<div id="modal" class = "modalTitle-disclaimer">
    <div  >
        <p mat-dialog-title>Disclaimer</p>
            <div class="modal-disclaimer">
                <div mat-dialog-content>
                    The information provided by this mortgage this calculators is for illustrative purposes only and accuracy is not guaranteed. The values and figures shown are hypothetical and may not be applicable to your individual situation. Be sure to consult a financial professional prior to relying on the results. This calculator does not have the ability to pre-qualify you for any mortgage or loan program. Qualification for mortgages or loans requires additional information such as credit scores and existing debts which is not gathered in this calculator. Information such as interest rates and pricing are subject to change at any time and without notice. All information such as interest rates, taxes, insurance, monthly mortgage payments, etc. are estimates and should be used for comparison only. Authors of this calculator do not guarantee any of the information obtained by any calculator.
                </div>
                <div mat-dialog-actions>
                    <button mat-button mat-dialog-close class="close-modal-button" >x</button>
                </div>
            </div>
    </div>
</div>