<div class="header">
  <div class="logo">
    <a href="/user"><span style="font-weight:bolder;">THE BIG D</span><span
        style="font-weight:lighter;">ecimal</span></a>
  </div>
</div>
<div class="parent-container" *ngIf="data">
  <!-- (onUserInput)="postUserData($event)" -->
  <!-- <p style="color:red" *ngIf="serverError">ERROR: {{serverErrorMessage}}</p> -->
  <app-user-input class="box user-input-container" [minPropertyPrice]="data.minPropertyPrice"
    [maxPropertyPrice]="data.maxPropertyPrice" [defaultPropertyPrice]="data.defaultPropertyPrice"
    [minDepositPercent]="data.minDepositPercent" [defaultInitialDeposit]="data.defaultInitialDeposit"
    [defaultMortgagePeriod]="data.defaultMortgagePeriod" [defaultSalary]="data.defaultSalary"
    [defaultFinancialObligation]="data.defaultFinancialObligation" (onUserInput)="postUserData($event)"
    [serverErrorMessage]="serverErrorMessage"></app-user-input>
  <app-user-output *ngIf="!serverError" class="box user-output-container" [monthlyPaymentError]="monthlyPaymentError"
    [euriborRate]="euriborRate" [euriborDate]="euriborDate" [bankInterestRate]="bankInterestRate"
    [annualInterestRate]="annualInterestRate" [contractFee]="contractFee" [registrationFee]="registrationFee"
    [monthlyBankFee]="monthlyBankFee" [calculations]="calculations"></app-user-output>
  <div *ngIf="serverError" class="box user-output-container server-error"> </div>
</div>
<div class="footer">
  <app-disclaimer></app-disclaimer>
</div>