.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  background: #054A91;
  margin: 10px;
  border-radius: 5px;
  color: #F5F5F5;
}

.a {
  width: 430px;
  height: 740px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: initial;
}

.b {
  width: 750px;
  height: 740px;
}

@media screen and (max-width: 1290px) {

  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    /* width: 390px; */
  }

  .b,
  .a {
    width: 390px;

  }

  * {
    background: #054A91;
  }

  .a {
    order: 1;
    margin-top: 0px;
    height: 600px;

  }

  .b {
    margin-bottom: 50px;
    height: 650px;
  }
}