* {
  font-family: "JetBrains Mono";
}

.container {
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
}
.field-container {
  height: 100px;
  display: flex;
  flex-direction: column;
}

.row {
  margin: 0 auto;
  gap: 40px;
  display: flex;
  flex-direction: row;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.mb-3 {
  height: 60px;
}

.error-msg {
  color: red;
  font-size: 12px;
}

.euribor-date {
  font-size: 12px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  appearance: textfield;
}
