<div class="container card m-5">
  <h2>Calculator Values</h2>
  <form [formGroup]="adminForm" (ngSubmit)="saveChanges()" class="row g-3 mt-5">
    <div class="row">
      <div class="col-md-4">
        <div class="mb-3">
          <label for="adminEuriborRate" class="form-label">Euribor</label>
          <input
            type="number"
            class="form-control"
            formControlName="adminEuriborRate"
          />
          <span class="euribor-date"
            >Last updated on {{ adminEuriborDate }}</span
          >
          <div
            *ngIf="
              adminForm.get('adminEuriborRate').invalid &&
              adminForm.get('adminEuriborRate').touched
            "
          >
            <span class="error-msg"> Error: Could not fetch the value </span>
          </div>
        </div>
        <div class="mb-3">
          <label for="adminBankMargin" class="form-label">Bank Margin</label>
          <input
            type="number"
            class="form-control"
            formControlName="adminBankMargin"
          />
          <div
            *ngIf="
              adminForm.get('adminBankMargin').invalid &&
              adminForm.get('adminBankMargin').touched
            "
          >
            <span class="error-msg">
              Error: value must be greater than 0 and less or equal to 100
            </span>
          </div>
        </div>
        <div class="mb-3">
          <label for="adminMinDepositPercent" class="form-label"
            >Min Deposit</label
          >
          <input
            type="number"
            class="form-control"
            formControlName="adminMinDepositPercent"
          />
          <div
            *ngIf="
              adminForm.get('adminMinDepositPercent').invalid &&
              adminForm.get('adminMinDepositPercent').touched
            "
          >
            <span class="error-msg">
              Error: value must be greater than 0 and less or equal to 100
            </span>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="mb-3">
          <label for="adminMinPropertyPrice" class="form-label"
            >Price Min</label
          >
          <input
            type="number"
            class="form-control"
            formControlName="adminMinPropertyPrice"
            (input)="handleMinMaxPrices()"
          />
          <div
            *ngIf="
              adminForm.get('adminMinPropertyPrice').invalid &&
              adminForm.get('adminMinPropertyPrice').touched
            "
          >
            <span class="error-msg"> Error: Invalid value </span>
          </div>
        </div>
        <div class="mb-3">
          <label for="adminMaxPropertyPrice" class="form-label"
            >Price Max</label
          >
          <input
            type="number"
            class="form-control"
            formControlName="adminMaxPropertyPrice"
            (input)="handleMinMaxPrices()"
          />
          <div
            *ngIf="
              adminForm.get('adminMaxPropertyPrice').invalid &&
              adminForm.get('adminMaxPropertyPrice').touched
            "
          >
            <span class="error-msg"> Error: Invalid value </span>
          </div>
        </div>
        <div class="mb-3">
          <label for="adminDefaultPropertyPrice" class="form-label"
            >Price Default</label
          >
          <input
            type="number"
            class="form-control"
            formControlName="adminDefaultPropertyPrice"
          />
          <div
            *ngIf="
              adminForm.get('adminDefaultPropertyPrice').invalid &&
              adminForm.get('adminDefaultPropertyPrice').touched || 
              adminForm.get('adminDefaultPropertyPrice').errors?.['priceDefaultInvalid']
            "
          >
            <span class="error-msg"> Error: Invalid value </span>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="mb-3">
          <label for="adminContractFee" class="form-label">Contract Fee</label>
          <input
            type="number"
            class="form-control"
            formControlName="adminContractFee"
          />
          <div
            *ngIf="
              adminForm.get('adminContractFee').invalid &&
              adminForm.get('adminContractFee').touched
            "
          >
            <span class="error-msg"> Error: Invalid value </span>
          </div>
        </div>
        <div class="mb-3">
          <label for="adminMonthlyBankFee" class="form-label">Bank Fee</label>
          <input
            type="number"
            class="form-control"
            formControlName="adminMonthlyBankFee"
          />
          <div
            *ngIf="
              adminForm.get('adminMonthlyBankFee').invalid &&
              adminForm.get('adminMonthlyBankFee').touched
            "
          >
            <span class="error-msg"> Error: Invalid value </span>
          </div>
        </div>
        <div class="mb-3">
          <label for="adminRegistrationFee" class="form-label"
            >Mortgage Fee</label
          >
          <input
            type="number"
            class="form-control"
            formControlName="adminRegistrationFee"
          />
          <div
            *ngIf="
              adminForm.get('adminRegistrationFee').invalid &&
              adminForm.get('adminRegistrationFee').touched
            "
          >
            <span class="error-msg"> Error: Invalid value </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <button
          class="btn btn-primary mx-2"
          type="submit"
          [disabled]="adminForm.invalid"
        >
          Save Changes
        </button>
        <button
          class="btn btn-secondary mx-2"
          type="button"
          (click)="discardChanges()"
        >
          Discard Changes
        </button>
      </div>
    </div>
  </form>
</div>
