.card {
  padding: 15px;
}
.form-control:focus {
  border: 2px solid teal;
  box-shadow: none;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.mb-3 {
  height: 100px;
}

.error-msg {
  color: red;
  font-size: 12px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  appearance: textfield;
}
