* {
    font-family: 'JetBrains Mono', monospace;
}

.login-form-container{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 434px;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        top: 35%;
        left: 35%;
    
}
.login-title {
        text-transform: uppercase;
        font-weight: 800;
        font-size: 24px;
        line-height: 32px;
        margin: 27px auto;
}
.login-container {
    
        justify-content: center;
        flex-direction: column;
        
        display: flex;
        height: 100%;
        width: 434px;
        height: 318px;
        border: 1px solid #000000;
        border-radius: 10px;
        background-color: #054A91;
        
    }
    .image-border {
        border: 2px solid #000000;
        border-radius: 217px;  

    }
    .log-input{
        background-color: #F5F5F5;
        border-radius: 10px;
        width: 400px;
        height: 50px;
    }
    #log-password, #log-username {
        font-family: 'JetBrains Mono';
        font-style: normal;
        font-weight: 700;
        text-transform: uppercase;
        background-color: #054A91;
        color: #FFFFFF;
        text-align: left;
    }
    .log-button {
        color: #054A91;
        border-radius: 10px;
        width: 400px;
        height: 50px;
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        text-align: center;
        text-transform: uppercase;
    }
.error{
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    color: #E71D36;}

@media only screen and (max-width: 600px) {
    body {
      background-color: #054A91;
    }
  }