<div class="login-form-container" >

      <img src="assets/logo2.png" alt="The big Decimal" width="157" height= "55" class="image-border">
  <h3 class="login-title">Log in to server</h3>

  <div class = "login-container">
    <div>
      <label id ="log-username" for="username">Username:</label>
      <input class="log-input" type="text" name="username" [(ngModel)]="username">
    </div>
    <div>
      <label id ="log-password" for="password">Password:</label>
      <input class="log-input" type="password" name="password" [(ngModel)]="password">
    </div>
    <div class="error" *ngIf="isError">Incorrect username or password</div>
    <div>
      <button class="log-button" (click)="login()">Log in</button>
    </div>
  </div>

</div>